
  <header class="post-header" <%= header_style %>> 
  <div class="container">
    <div class="row">
      <h1 class="post-head"> Eso es:  <%= @post.title %> <h1>
  
  <div class="post-page">
      <p><%= @post.description %></p>
      </div>
  </div>
</div>

